{
    "parser": "babel-eslint",
    "env": {
        "browser": true,
        "es6": true,
        "jest": true,
        "node": true,
    },
    "extends": ["eslint:recommended", "plugin:react/recommended", "plugin:prettier/recommended"],
    "settings": {
        "react": {
            "version": "detect"
        },
        "plugins": [ 
        "import"
        ],
        "rules": {
        	"import/no-default-export": 2
        }
    }
}
