{
    "parser": "babel-eslint",
    "env": {
        "browser": true,
        "es6": true,
        "jest": true,
        "node": true,
    },
    "extends": ["eslint:recommended", "plugin:react/recommended", "plugin:prettier/recommended"],
    "settings": {
        "react": {
            "version": "detect"
        }
    },
    "rules": {
    "react/jsx-no-literals": [2, {"noStrings": true, "allowedStrings": [0,1], "ignoreProps": false}]
    }
}
