{
    "parser": "babel-eslint",
    "env": {
        "browser": true,
        "es6": true,
        "jest": true,
        "node": true,
    },
    "extends": ["eslint:recommended", "plugin:react/recommended", "plugin:prettier/recommended"],
    "settings": {
        "react": {
            "version": "detect"
        }
    },
    "plugins": [
        "no-editor-code", 
        "no-block-comments"
    ],
    "rules": {
        "no-editor-code/no-region": "warn", 
        "no-block-comments/no-block-comments": 2
    }
}
