Gemfile.lock
_site
inputs
model.zenta
model.zenta.bak
modelparts/metamodel/
shippable/
target/
model.rich
codedocs
model.compiled
model.consistency.stderr
model.consistencycheck
model.docbook
model.html
model.interfaces
model.objlist
model.objlist.html
model.pics/
model.richescape
model.stubs
model.testdata
model/
build
reports/
package-lock.json
node_modules

# stryker temp files
.stryker-tmp
