---
---

@import "{{ site.theme }}";

.headerlink {

    color: #222;
    display: inline;
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 1.2;
    padding: 9px 15px;
    text-decoration: none;

}

.footerlink {

    color: #222;
    display: inline;
    font-size: 1.0rem;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 1.2;
    padding: 9px 15px;
    text-decoration: none;

}

a {
    color: #1e6bb8;
    text-decoration: underline;
    font-weight: 900;
}
