<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>

    {% if site.google_analytics %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}
    <!-- Facebook Pixel Code -->
<script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window, document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '533705557364323');
  fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=533705557364323&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->

    <meta charset="UTF-8">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta content='en_US' property='og:locale'>
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <header class="page-header" role="banner">
      <a href="/"><img src="/assets/img/cropped-nagylogo2.png"/></a>
      <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
    <a class="headerlink" href="https://kodekonveyor.com/">Vision</a>
    <a class="headerlink" href="https://kodekonveyor.com/about">Who we are</a>
    <a class="headerlink" href="https://kodekonveyor.com/how-we-do-it">How we do it</a>
    <a class="headerlink" href="https://kodekonveyor.com/for-developers">For developers</a>
    <a class="headerlink" href="https://kodekonveyor.com/for-customers">For customers</a>
    <a class="headerlink" href="https://kodekonveyor.com/education">Education</a>

    </header>

    <main id="content" class="main-content" role="main">
      {{ content }}

      <footer class="site-footer">
    <a class="footerlink" href="https://kodekonveyor.com/privacy-policy">Privacy Policy</a>
      </footer>
    </main>
  </body>
</html>

